
.services {
    height: 1560px;
    &_bgcolor {
      background-color: #cbcbcb;
      position: absolute;
      width: 90%;
      height: 1455px;
      left: 61px;
      z-index: -1;
      top: 222px;
    }
  
    &_item {
      position: relative;
      top: 140px;
      left: 170px;
    }
  
    &_item:nth-child(odd) {
      left: -180px;
    }
  
    &_item:first-child .service_photo img {
      top: -20px;
    }
  
    &_block1 {
      position: absolute;
      width: 89.8%;
      height: 1520px;
      border: 2px solid;
      top: 76px;
      left: 60px;
    }
  }